<div class="grid">
    @for (photo of photos(); track photo.id) {
        <div class="grid__item" (click)="onPhotoClick(photo)">
            <img class="grid__image" [src]="photo.url" alt="Photo" />
            @if (favoritesService.isInFavorites(photo.id)) {
                <div class="grid__badge">
                    <mat-icon>favorite</mat-icon>
                </div>
            }
        </div>
    }
</div>

@if (loading()) {
    <div
        class="loader"
        [class.loader--center]="initialLoading()"
        [class.loader--inline]="!initialLoading()"
    >
        <mat-progress-spinner diameter="28" mode="indeterminate" />
    </div>
}

<div #sentinel class="scroll-sentinel"></div>
